@import url("./../mission-01/css/reset.css");
@import url("./../mission-01/css/base.css");
@import url("./../mission-01/css/normalize.css");
@import url("./../mission-01/css/theme.css");



/* .loginHeader{
    position: relative;
    padding: 12px;
    background-color: yellowgreen;
    width: 244px;
    height: 161px;
} */
/* .login{
    font-size: 15px;
    font-weight: bold;
    color: yellow;
    margin-bottom: 8px;
    padding: 0;
} */
/* fieldset{
    position: relative;
    background: blue;
    width: 220px;
    height: 106px; 

}*/

/* .device{
    background-color: pink;
    position: absolute;
    top: 32px;
    width: 220px;
    height: 106px;
} */
/* .logingroup{
    font-size: 14px;
    background-color: blue;

  
    /* position: absolute; */
 

/* .logingroup input{
    width: 90px;
    height: 24px;
}
.logingroup label{
    width: 146px;
} */


/* ul {
    list-style:none;
}
 
li {
    float: left;
} */

/* .mine{
background-color: white;
display: inline-block;
font-size: 1px;
position: absolute;
top: 40px;
} */

/* .line{
    display: block;
    width: 204px;
    height: 2px;
    position: absolute;
    top: 120px;
    background-color: black;
} */


main{
    position: relative;
    background: linear-gradient(90deg, #ED552F 0%, #E8852E 100%);
    width: 244px;
    height: 161px;
    padding: 12px;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 5px 5px 5px 5px gray;
      
} 

.login{
    font-size: 15px;
    font-weight: bold;
    color: yellow;
    margin-bottom: 8px;
}

.device{
    padding: 8px;
    font-size: 14px;
    text-align: left;
    height: 69px;

}


.logingroup label{
    width: 56px;
    display: inline-block;
}

.logingroup input{
    width: 88px;
    height: 24px;
    box-sizing: border-box;
}

#userName{
    margin-bottom: 3px;
}

.inner{
    background-color: white;
}


.mine{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    width: 220px;
    height: 36px;
    justify-content: space-between;
    align-items: center;
    
}

.mine li{
    font-size: 13px;
    
    
}
.button{
    font-size: 13px;
    color: white;
    background-color: #ED552F;
    border-style: none;
    width: 50px;
    height: 53px;
    position: absolute;
    right: 20px;
    top: 46px;
    padding: 0;
    border-radius:5px;
}
.inner{
    border-radius: 6px;
    height: 110px;

}
.line{
    display: block;
    width: 210px;
    height: 1px;
    position: absolute;
    top: 105px;
    right: 20px;
    background-color: rgb(148, 148, 148);
} 
